<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'weather_app/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h1>Weather Checker</h1>

        <form method="post">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Enter city name, e.g., Delhi / Noida" required>
            <button type="submit">Get Weather</button>
        </form>

        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}
        {% if weather %}
        <div class="weather-card">
            <h2 class="">{{ weather.city }}, {{ weather.country }}</h2>
            <div class="weather-main">
                <img src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="{{ weather.description }}">
                <div class="tempreture">{{ weather.tempreature }}°C</div>
            </div>
            <div class="details">
                <p>Feels like: {{ weather.feel_like }}°C</p>
                <p>{{ weather.description }}</p>
                <p>Humanity: {{ weather.humidity }}%</p>
                <p>Wind: {{ weather.wind_speed }} m/s</p>
                <p>Pressure: {{ weather.pressure }}</p>
            </div>
        </div>
        {% else %}
        <div class="info">Enter a city above to see current weather.</div>
        {% endif %}
    </div>
</body>
</html>